<div class="col-md-10 w-100">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Amount</th>
          <th scope="col">Subscirbers</th>
          <th scope="col">Price(PLN)</th>
          <th scope="col">Price(In)</th>
          <th scope="col">Price per person</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of allWhipRounds; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ item.whipName }}</td>
          <td>{{ item.amount }}</td>
          <td>{{ item.subscribers }}</td>
          <td>{{ item.prices.price }}</td>
          <td>{{ item.prices.pricein + " " + item.prices.selectExchange }}</td>
          <td>{{ item.additionalData.pricePerPerson + " " + "PLN" }}</td>
        </tr>

        <!-- <!-- <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr> -->
        <!-- <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
          <td></td>
        </tr> -->
      </tbody>
    </table>
  </div>
</div>
