<form class="form" #f="ngForm" (ngSubmit)="onSubmit()">
  <div class="row w-50">
    <div class="col-md-6">
      <label for="whipName" class="col-form-label">Name</label>
      <input
        type="text"
        id="whipName"
        class="form-control"
        name="whipName"
        ngModel
        required
        minlength="5"
        #whipname="ngModel"
      />
      <span class="invalid" *ngIf="whipname.errors?.required && whipname.touched">please provide name</span>
      <span class="invalid" *ngIf="whipname.errors?.minlength">name is to short</span>
    </div>

    <div class="col-md-6">
      <label for="amount" class="col-form-label">Amount</label>
      <input
        type="text"
        id="amount"
        class="form-control"
        name="amount"
        ngModel
        required
        #amount="ngModel"
        max="10"
        min="0"
        pattern="^[0-9]*$"
      />

      <span class="invalid" *ngIf="amount.errors?.pattern && amount.touched">Invalid Value</span>
      <span class="invalid" *ngIf="amount.errors?.required && amount.touched"
        >You should provide at least one unit</span
      >
    </div>
  </div>

  <div class="row w-50">
    <div class="col-md-6">
      <label for="subscribers" class="col-form-label">Subscribers</label>
      <input
        type="text"
        id="subscribers"
        class="form-control"
        name="subscribers"
        ngModel
        required
        subscribers
        #subscribers="ngModel"
        pattern="^[0-9]*$"
      />

      <span class="invalid" *ngIf="subscribers.errors?.pattern && subscribers.touched">Invalid Value</span>
    </div>
  </div>

  <div class="form-group" #prices="ngModelGroup" ngModelGroup ProvidePriceValidator>
    <div class="row mb-3">
      <div class="col-md-3">
        <label for="price" class="col-form-label">price(PLN)</label>
        <input
          type="text"
          id="price"
          class="form-control"
          name="price"
          [(ngModel)]="priceValue"
          #price="ngModel"
          pattern="^(0|[1-9]\d*)(\.\d+)?$"
        />

        <span class="invalid" *ngIf="price.errors?.pattern && price.touched">Invalid Value</span>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-3">
        <label for="pricein" class="col-form-label">Price in:</label>
        <select
          [(ngModel)]="selectedExchange"
          #exchange="ngModel"
          (ngModelChange)="setExchange(exchange)"
          class="select mb-3"
          name="selectExchange"
        >
          <option *ngFor="let exchange of exchangesKeys; let i = index" [ngValue]="exchange">
            {{ exchange }}
          </option>
        </select>

        <input
          type="text"
          id="pricein"
          class="form-control"
          name="pricein"
          ngModel
          #pricein="ngModel"
          [(ngModel)]="priceinValue"
          pattern="^(0|[1-9]\d*)(\.\d+)?$"
        />

        <span class="invalid" *ngIf="pricein.errors?.pattern && pricein.touched">Invalid Value</span>
        <span class="invalid" *ngIf="!prices.valid && prices.touched"
          >Provide at least one price value(PLN or another currency)</span
        >
      </div>
    </div>
  </div>

  <button [disabled]="!f.valid" class="btn btn-success px-5" type="submit">Add</button>
  <button class="btn btn-danger px-5" routerLink="../" type="button">Cancel</button>
</form>
