<div class="col-md-12">
  <div class="row">
    <nav class="nav mx-3 my-3">
      <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Contributors</a></li>
      <li class="nav-item"><a href="#" class="nav-link">All whiprounds</a></li>
      <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    </nav>
  </div>

  <div class="row">
    <div class="btn-group">
      <button class="btn btn-primary" (click)="onAddWhipround()">Add new whipround</button>
      <button class="btn btn-primary">Edit Whipround</button>
      <button class="btn btn-primary" (click)="onGetExchanges()">Actual Currencies</button>
    </div>
  </div>
</div>
